$primary-color: #ee6c4d;
$secondary-color: #3d5a80;
$light-color: #e0fbfc;
$dark-color: #293241;
$logo-color: #2ab4d2;
$general-color: #ee6c4d;
$playstation-color: #006fcd;
$xbox-color: #0e7a0d;
$nintendo-color: #e4000f;
$max-width: 1100px;
