<!-- Footer -->
<footer id="mainFooter" class="bg-dark">
  <div class="footerContainer p-1">
    <div>
      <img src="/Images/GamerNews Logo.svg" alt="Logo" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil
        ex libero sed veniam obcaecati quam inventore tempore quia laboriosam.
      </p>
    </div>
    <div>
      <h3>Email Newsletter</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
        aliquam!
      </p>
      <form action="#">
        <input type="email" name="email" placeholder="Enter Email..." />
        <input
          type="submit"
          name="submit"
          value="Subscribe"
          class="btn btn-primary"
        />
      </form>
    </div>
    <div>
      <h3>Site Links</h3>
      <ul class="list">
        <li><a href="#">Help & Support</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div>
      <h3>Join Our Community</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
        explicabo!
      </p>
      <a href="#" class="btn btn-secondary" id="join">Join Now</a>
    </div>
    <div>Copyright &copy; 2021, All Rights Reserved.</div>
  </div>
</footer>
