<!-- nav -->
<nav id="mainNav">
  <div class="navContainer">
    <a href="/"
      ><img src="/Images/GamerNews Logo.svg" alt="GamerNews Logo" class="logo"
    /></a>
    <div class="social">
      <a href="https://facebook.com" target="_blank"
        ><i class="fab fa-facebook fa-2x"></i
      ></a>
      <a href="https://twitter.com" target="_blank"
        ><i class="fab fa-twitter fa-2x"></i
      ></a>
      <a href="https://instagram.com" target="_blank"
        ><i class="fab fa-instagram fa-2x"></i
      ></a>
      <a href="https://youtube.com" target="_blank"
        ><i class="fab fa-youtube fa-2x"></i
      ></a>
    </div>
    <ul>
      <li><a href="/" <% if (title === "home"){ %> class="current" <% } %> >Home</a></li>
      <li><a href="/browseArticles" <% if (title === "browseArticles"){ %> class="current" <% } %> >Articles</a></li>
      <li><a href="/about" <% if (title === "about"){ %> class="current" <% } %> >About</a></li>
      <li><a href="/contact" <% if (title === "contact"){ %> class="current" <% } %> >Contact</a></li>
    </ul>
  </div>
</nav>

