<% layout("layouts/boilerplate") %>

<section id="article">
  <div class="gridContainer">
    <div class="pageContainer">
      <article class="card">
        <% if (category === "Nintendo") { %>
        <img src="/Images/nintendo1.jpg " alt="" />
        <% } else if (category === "Playstation") { %>
        <img src="/Images/playstation1.jpg " alt="" />
        <% } else if (category === "Xbox") { %>
        <img src="/Images/controller1.jpg " alt="" />
        <% } else if (category === "General") { %>
        <img src="/Images/comp1.jpg " alt="" />
        <% } else { %>
        <img src="/Images/arcade1.jpg " alt="" />
        <% } %>
        <h2 class="lrg-heading">Exciting <%= category %> Article</h2>
        <div class="meta">
          <small>
            <i class="fas fa-user"></i> Written By Jack Drake. February 01, 2021
          </small>
          <div class="category category-<%= category.toLowerCase(); %>">
            <%= category %>
          </div>
        </div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus,
          est quo adipisci blanditiis nemo, excepturi sed ducimus nam dolorum
          veritatis esse. Consequuntur repellat repellendus necessitatibus odio,
          rem illo molestiae aspernatur asperiores provident ea adipisci quis
          iure non illum? Esse tenetur repellat veniam ullam blanditiis ad
          incidunt libero labore dolore doloribus.
        </p>
        <br />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          debitis mollitia nisi aliquam distinctio doloribus vel cumque voluptas
          assumenda porro libero, labore perferendis molestias exercitationem
          architecto eum odio consequatur totam delectus necessitatibus atque,
          aspernatur quisquam? Dolore corporis molestias est necessitatibus
          velit vitae officiis eveniet labore delectus ipsa? Nisi et nesciunt
          minima obcaecati, ullam officia nemo ipsam voluptatem doloremque
          facere. Qui tempore laudantium doloremque cumque maiores nobis
          similique ratione. Vel iure tenetur iste vitae atque hic sed magnam
          explicabo dolorem omnis quo, delectus molestias facilis debitis.
          Soluta harum dignissimos error minus dolor itaque molestias explicabo
          vero? Dolorum, quis, odit nostrum incidunt provident fugit libero
          maxime eius corporis sequi cum, maiores expedita tempore sunt fugiat
          impedit hic temporibus eveniet nihil ad. Dolore fugiat veritatis
          excepturi laborum saepe asperiores eum iusto, beatae quam ipsum
          tenetur dignissimos rem, vero officiis, animi praesentium. Quas
          doloribus cum sit sequi ullam unde exercitationem animi ipsum soluta
          itaque.
        </p>
      </article>

      <aside id="categories" class="card">
        <h3 id="categoryTitle">Categories</h3>
        <ul class="list">
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/browseArticles/general"> General </a>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/browseArticles/nintendo"> Nintendo </a>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/browseArticles/playstation"> Playstation </a>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/browseArticles/xbox"> Xbox </a>
          </li>
        </ul>
      </aside>
      <aside class="card bg-primary">
        <h3>Join Our Community</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
          illum.
        </p>
        <a href="#" class="btn btn-dark btn-block">Join Now</a>
      </aside>

      <aside class="card bg-secondary">
        <h3>Popular Article Link</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
          illum.
        </p>
        <a href="/article/General" class="article-links">Read More..</a>
      </aside>
    </div>
  </div>
</section>
