<% layout("layouts/boilerplate") %>

<!-- Show Case -->

<header id="showcase">
  <div class="container">
    <div class="showcaseContainer">
      <div class="showcaseContent">
        <div class="category category-general">General</div>
        <h2>FIRST GAME ARTICLE</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          fugit officiis ab vero, magnam mollitia debitis corrupti itaque dolore
          voluptas, accusantium alias maxime facere totam nihil sit, cum
          dignissimos quo! Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Asperiores, quasi!
        </p>
        <a href="/article/General" class="btn btn-secondary">Read More</a>
      </div>
    </div>
  </div>
</header>

<!-- Home Articles -->
<section id="homeArticles" class="py-2">
  <div class="gridContainer">
    <h2 class="lrg-heading">This Week's Top Articles</h2>
    <div class="articlesContainer">
      <article class="card linked-card cat-general">
        <img src="/Images/arcade1.jpg " alt="Arcade" />
        <div>
          <div class="category category-general">General</div>
          <h3>General Article</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe
            molestiae omnis dolores velit harum aliquam repudiandae repellat
            neque, vel totam amet voluptatem quasi at ratione est accusamus,
            libero magni sapiente!
          </p>
        </div>
      </article>
      <article class="card linked-card bg-dark cat-playstation">
        <div class="category category-playstation">Playstation</div>
        <h3>Playstation Article</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe
          molestiae omnis dolores velit harum aliquam repudiandae repellat
          neque, vel totam amet voluptatem quasi at ratione est accusamus,
          libero magni sapiente!
        </p>
      </article>
      <article class="card linked-card cat-xbox">
        <img src="/Images/controller1.jpg" alt="controllers" />
        <div class="category category-xbox">Xbox</div>
        <h3>Xbox Article</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe
          molestiae omnis dolores velit harum aliquam repudiandae repellat
          neque, vel totam amet voluptatem quasi at ratione est accusamus,
          libero magni sapiente!
        </p>
      </article>
      <article class="card linked-card cat-nintendo">
        <div class="category category-nintendo">Nintendo</div>
        <h3>Nintendo Article</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe
          molestiae omnis dolores velit harum aliquam repudiandae repellat
          neque, vel totam amet voluptatem quasi at ratione est accusamus,
          libero magni sapiente!
        </p>
        <img src="/Images/nintendo1.jpg" alt="switch controllers" />
      </article>
      <article class="card linked-card cat-general">
        <img src="/Images/comp1.jpg" alt="controllers" />
        <div class="category category-general">General</div>
        <h3>General Article</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe
          molestiae omnis dolores velit harum aliquam repudiandae repellat
          neque, vel totam amet voluptatem quasi at ratione est accusamus,
          libero magni sapiente!
        </p>
      </article>
      <article class="card linked-card bg-dark cat-playstation">
        <div class="category category-playstation">Playstation</div>
        <h3>Playstation Article</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe
          molestiae omnis dolores velit harum aliquam repudiandae repellat
          neque, vel totam amet voluptatem quasi at ratione est accusamus,
          libero magni sapiente!
        </p>
      </article>
      <article class="card linked-card cat-general">
        <div>
          <div class="category category-general">General</div>
          <h3>General Article</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe
            molestiae omnis dolores velit harum aliquam repudiandae repellat
            neque, vel totam amet voluptatem quasi at ratione est accusamus,
            libero magni sapiente!
          </p>
        </div>
        <img src="/Images/broadcasters.jpg" alt="Arcade" />
      </article>
    </div>
  </div>
</section>

<!-- Categories Flex Box -->
<section id="categoriesFlex">
  <div class="flexContainer">
    <div class="flexSquare general-link cat-general" id="flexGeneral">
      <img src="/Images/gamepad-solid (1).svg" alt="GamerNews Logo" />
      <h3>General Articles</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sed
        earum delectus illo alias est.
      </p>
    </div>

    <div class="flexSquare nintendo-link cat-nintendo" id="flexNintendo">
      <img src="/Images/nintendo-switch.svg" alt="nintendo-switch logo" />
      <h3>Nintendo Articles</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sed
        earum delectus illo alias est.
      </p>
    </div>

    <div
      class="flexSquare playstation-link cat-playstation"
      id="flexPlaystation"
    >
      <img src="/Images/playstation-logotype.svg" alt="playstation-logo" />
      <h3>Playstation Articles</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sed
        earum delectus illo alias est.
      </p>
    </div>

    <div class="flexSquare xbox-link cat-xbox" id="flexXbox">
      <img src="/Images/xbox.svg" alt="xbox logo" />
      <h3>Xbox Articles</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sed
        earum delectus illo alias est.
      </p>
    </div>
  </div>
</section>
