<% layout("layouts/boilerplate") %>

<div id="notFound">
  <h1>Oh no something went wrong!</h1>
  <div class="card">
    <p>Sorry, it looks like the page you have requested cannot be found.</p>
    <p>Here is a link back to the home page:</p>
    <a href="/" class="btn btn-primary">Home</a>
  </div>
</div>
